.no-border { border-top: 2px solid white !important; border-left: 2px solid white !important; }
[data-plan-code-active=true] { background-color: white !important; }
[data-plan-code-active=false] { background-color: #F2F2F2 !important; }
[data-plan-code-active=true][data-plan-type-active=true] { background-color: #A2DBF7 !important; }
